# Projeto final

Bem vindo ao projeto final do curso/módulo de Pandas.
Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

In [9]:
import pandas as pd
import numpy as np

## Perguntas - Obesity among adults by country, 1975-2016

In [14]:
df_obesity = pd.read_csv("obesity_cleaned.csv")

- Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [34]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24570 non-null  object
 1   Year         24570 non-null  int64
 2   Obesity (%)  24570 non-null  object
 3   Sex          24570 non-null  object
 4   Obesity      24066 non-null  object
dtypes: int64(1), object(4)
memory usage: 959.9+ KB

In [16]:
df_obesity.drop('Unnamed: 0', axis=1, inplace=True)

In [25]:
df_obesity['Obesity']=df_obesity['Obesity (%)'].apply(lambda x: x.split()[0])

In [28]:
df_obesity['Obesity'].value_counts()

No      504
0.4     222
0.6     218
0.5     217
0.7     210
       ...
60.1      1
56.3      1
59.8      1
55.5      1
46.5      1
Name: Obesity, Length: 602, dtype: int64

In [32]:
df_obesity.loc[df_obesity['Obesity']=='No','Obesity'] = np.nan

In [33]:
df_obesity['Obesity'] = df_obesity['Obesity'].dropna()

In [36]:
df_obesity['Obesity'] = df_obesity['Obesity'].apply(lambda x: float(x))
df_obesity['Year'] = df_obesity['Year'].apply(lambda x: int(x))

In [41]:
df_obesity

          Country       Obesity (%)         Sex  Obesity
Year
1975  Afghanistan     0.5 [0.2-1.1]  Both sexes      0.5
1975  Afghanistan     0.2 [0.0-0.6]        Male      0.2
1975  Afghanistan     0.8 [0.2-2.0]      Female      0.8
1976  Afghanistan     0.5 [0.2-1.1]  Both sexes      0.5
1976  Afghanistan     0.2 [0.0-0.7]        Male      0.2
...           ...               ...         ...      ...
2015     Zimbabwe     4.5 [2.4-7.6]        Male      4.5
2015     Zimbabwe  24.8 [18.9-31.3]      Female     24.8
2016     Zimbabwe  15.5 [12.0-19.2]  Both sexes     15.5
2016     Zimbabwe     4.7 [2.5-8.0]        Male      4.7
2016     Zimbabwe  25.3 [19.1-32.0]      Female     25.3

[24570 rows x 4 columns]

In [44]:
df_obesity.index.unique()

Int64Index([1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
            1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
            1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
            2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', name='Year')

In [40]:
df_obesity.set_index('Year', inplace=True)

- Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [43]:
df_2015 = df_obesity.loc[df_obesity.index == 2015]

df_2015.groupby('Sex').agg({'Obesity': 'mean'})

              Obesity
Sex
Both sexes  19.508377
Female      22.899476
Male        15.980628

- Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

In [ ]:
#periodo observado: você próprio que define!

df_periodo_inicial = df_obesity.loc[df_obesity.index == 2002]
df_periodo_final = df_

- Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

- Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

- Você conseguiria plotar um gráfico mostrando a evolução da obesidade para ambos sexos no mundo?

## Perguntas - GDP Per Person (1901-2011)

In [ ]:
df_gdp = pd.read_csv("Datasets/GDP.csv", decimal=".")

- Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.

- Você conseguiria informar o primeiro valor registrado de cada país?

- Informe as regiões com maiores crescimentos de PIB per capita no século passado.

- Preecha os anos ausentes em cada país com uma estimativa, baseada na diferença entre o próximo registro e o anterior.

### DESAFIOS
- Você conseguiria criar um mapa do gdp ou da obesidade no mundo ao longo dos anos?

- Há uma relação entre níveis de obesidade e gdp per capita?